<div>
	<form (submit)="onSubmit($event)">
		<input #todoInput placeholder="Type your tasks here..." type="text" [value]="inputValue" (input)="onInput(todoInput.value)">
		<ul class="list-tasks" *ngFor="let task of todoTasks">
			<li class="list-task">
				<input type="checkbox" class="list-task__checkbox">
				<span>{{task}}</span>
				<button (click)="onDeleteEvent(task)">Remove this task</button>
			</li>
		</ul>
		<button type="button" (click)="onClick()">Add task</button>
	</form>
	<p class="error" *ngIf="error">{{error}}</p>
	</div>