ul {
  list-style: none;
}
li {
  font-size: 2rem;
  font-style: none;
}
.error {
  color: red;
  font-size: 1.5rem;
}
.list-task__checkbox:checked + span {
  text-decoration: line-through;
  opacity: 0.4;
}
